name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
defaults:
  run:
    working-directory: front/ip-tracker

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run type-check

  test:
    runs-on: ubuntu-latest
    needs: type-check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run build

      - name: Upload dist artifact # artifact (dossier généré par la pipeline qui se conserve)
        uses: actions/upload-artifact@v4 #action github pour stocker des fichiers
        with:
          name: ip-tracker-dist
          path: front/ip-tracker/dist #coller le contenu buildé dans dist
          if-no-files-found: error #erreur si le dist n'existe pas
          retention-days: 7 #garder le dossier 7 jours
